doctype html
html
head
  meta(charset="UTF-8")
  title Loft School Test

  link(rel="stylesheet" href="css/style.min.css")

  script(src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js")

body

  header.header

    div.author
      div.image-wrap.logo-wrap
        img(src="img/logo.jpg" alt="Логотип")
      div
        h2 Быстров Борис Викторович
        a(href="#") bystrov@gmail.coma

    div.socials
      each item in ["github", "skype", "vk"]
        a(class="#{item}" href="#") #{item}

  section.about-study
    div.container

      h2 О будущем ученике
      p.sub-header Ребятам из Loftschool будет полезно узнать немного обо мне

      article.about-me
        h3 Немного обо мне
        p Я живу в Санкт-Петербурге (Россия). Мне 26 лет. Высшее образование - закончил НИУ ИТМО. Опыт в разработке 1 год. Уже окончил курсы в Академии Программирования, где не плохо научился верстать. Пока есть только один сайт, которым могу похвастаться:
          a(href="#") www.yandex.ru

      article.my-experience
        h3 Мой опыт в разработке
        p В этом блоке я расскажу о себе, что я уже умею. Здесь я укажу другие курсы, которые до этого я уже проходил. Могу перечислить технологии, которыми уже умею пользоваться. К примеру: html5, css3, sass, jade, git и пр.

  section.courses
    div#courses.container

      h1 Курсы на loftblog
      p.sub-header которые мне помогут в выполнении этого задания

      - var courses = [{id: 1, title: "Основы JavaScript", description: "Видеокурс о одном из самых популярных языков программирования - JavaScript. Изучая этот курс вы познаете этот прекрасный язык от самых основ.", time: {lessons: 24, hours: 6, minutes: 46}},{id: 2, title: "JQUERY", description: "Видеокурс о одном из самых популярных языков программирования - JavaScript. Изучая этот курс вы познаете этот прекрасный язык от самых основ.", time: {   lessons: 11,   hours: 2,   minutes: 6 }},{id: 3, title: "Базовые элементы страницы", description: "Видеокурс по верстке и программированию основных и популярных элементов сайтов. Посмотрев этот курс вы научитесь создавать табы, аккордеон, слайдшоу, слайдер и т.д.", time: {   lessons: 9,   hours: 2,   minutes: 7 }},{id: 4, title: "Создание адаптивных сайтов", description: "В этом курсе вы узнаете как создавать адаптивные сайты, что такое адаптивная верстка и дизайн.", time: {   lessons: 7,   hours: 2,   minutes: 11 }},{id: 5, title: "Верстка адаптивной css галереи", description: "В этом видеокурсе вы изучите инструменты, техники и подходы для web-разработчика, которые помогут вам решать поставленные задачи более быстро и эффективно.", time: {   lessons: 6,   hours: 1,   minutes: 9 }},{id: 6, title: "Верстка адаптивной css галереи", description: "В этом курсе мы разберем как сверстать адаптивную css галерею. Также познакомимся с Flexbox.", time: {   lessons: 4,   hours: 0,   minutes: 50 }}]

      mixin course_card(course)
        article.course
          div.image-wrap
            img(src="img/courses/#{course.id}.jpg" alt="#{course.title}")
          div.text-wrap
            h3 #{course.title}
            p #{course.description}
            div.course-time
              if course.time.lessons > 4
                #{course.time.lessons} уроков
              else if course.time.lessons > 1
                #{course.time.lessons} урока
              else if course.time.lessons > 0
                #{course.time.lessons} урок
              //- (#{course.time.hours} часов #{course.time.minutes} минут)
          div.checkbox-wrap
            input(id="checkbox-#{course.id}" type="checkbox" value="#{course.id}")
            label.sprite-checker(for="checkbox-#{course.id}") Посмотрел
          div.foreground

      for course in courses
        +course_card(course)

    h2#learned.container &nbsp;Задание выполнено

  footer
    p А это футер, с текстом внутри. Он должен быть прибит к низу окна браузера,
    p не зависимо от количества контента на странице и размера окна.

  script(src="js/jquery-3.1.1.min.js")
  script(src="js/script.js")